
nav {
  background-color: rgb(82, 80, 80);
  height: 1.2rem; 
  color: white;
}
header nav ul li {
  display: inline-block;
  padding-inline: .5rem;
}
.color{
  background-color: rgb(180, 179, 179);
}

.othercolor{
  background-color: rgb(180, 179, 179);
}
.other{
  color:rgb(82, 80, 80);
}
/*block gris en dessous menu*/
.gray{
  background-color: rgb(180, 179, 179);
  height: 200px;
  max-width: 100%;
}
/*H2*/
.title{
 color:black;
 text-align: center;
 text-decoration : none;
 }
 .small{
 font-size: 15px;
 text-decoration : none;
 }

/*article*/
.flex-center{
  display: flex;
  justify-content: space-between;
}
article{
  background-color: rgb(180, 179, 179);
  height: 150px;
  width: 25%;
  padding: 80px;
  margin-inline: 10px;
}

hr{
  margin-top: 50px;
  width: 1500px;
  height: 2px;
}
/*form*/
.title2{
  color: black;
}
.form-input{  
  display: flex;
  flex-direction: column;  
  align-items: center;
  
}
input, textarea {
   border: 2px solid rgb(180, 179, 179);
   margin: 5px;
   width: 750px;
 
}
textarea{
  height: 70px;
}


