header nav {
  background-color: rgb(82, 80, 80);
  height: 1.2rem; 
}
header nav ul li {
  display: inline-block;
  padding-inline: .5rem;
  text-decoration: none;
}
/*couleur de mes liens en gris*/
a {
  color: rgb(180, 179, 179);
}
header nav ul li a:hover {
  color:gray;
}
.othercolor{
  background-color: rgb(180, 179, 179);
}
.other{
  color:rgb(82, 80, 80);
}
.gray{
  background-color: rgb(180, 179, 179);
  height: 200px;
  max-width: 100%;
}
/*H2*/
.title{
 color:black;
 text-align: center;
 text-decoration : none;
 }
 .small{
 font-size: 15px;
 text-decoration : none;
 }

/*article*/
.flex-center{
  display: flex;
  justify-content: space-between;
  background-color: brown;
}


/*form*/
.title2{
  color: black;
}
form{
  width: 60%;
}

.form2{  
  display: flex;
  flex-direction: column;
  margin: 40px;
}
input, textarea {
   border: 2px solid rgb(180, 179, 179);
   margin: 5px;
}
textarea{
  height: 70px;
}

